<?xml version="1.0" encoding="UTF-8"?>


<settings>
    <localRepository>d:/m2/repository</localRepository>
	<mirrors>
		<mirror>
		  <id>alimaven</id>
		  <name>aliyun maven</name>
		  <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
		  <mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>nexus</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>thirdparty</id>
					<url>http://thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>thirdparty-snapshots</id>
					<url>http://thirdparty-snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>spring</id>
					<url>http://spring</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>

				<repository>
					<id>jboss</id>
					<url>http://jboss</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>

			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>

				<pluginRepository>
					<id>thirdparty</id>
					<url>http://thirdparty</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>

				<pluginRepository>
					<id>thirdparty-snapshots</id>
					<url>http://thirdparty-snapshots</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>

				<pluginRepository>
					<id>spring</id>
					<url>http://spring</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>

				<pluginRepository>
					<id>jboss</id>
					<url>http://jboss</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
   
       <profile>     
           <id>default-tools.jar</id>     
           <activation>     
               <property>     
                   <name>java.vendor</name>     
                   <value>Sun Microsystems Inc.</value>     
               </property>     
           </activation>     
           <dependencies>     
               <dependency>     
                   <groupId>com.sun</groupId>     
                   <artifactId>tools</artifactId>     
                   <version>1.5.0</version>     
                   <scope>system</scope>     
                   <systemPath>D:/develop/Java/jdk1.6.0_35/lib/tools.jar</systemPath>     
               </dependency>     
           </dependencies>     
       </profile>     

   
	</profiles>

	<servers> 
		<server> 
			<id>Snapshots</id> 
			<username>admin</username> 
			<password>admin123</password> 
		</server> 
	</servers>

	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>
