<?xml version="1.0" encoding="UTF-8"?>
<!-- 只需配置好 log.dir 和 projectname 属性 -->
<configuration debug="false">
	<property name="log.dir" value="/alidata1/admin/" />
	<property name="projectname" value="grassroot" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="infoAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/grassroot/logs/${projectname}.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/grassroot/logs/${projectname}-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%thread] %-5p [%c] [%F:%L]
				[trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-},parent=%X{X-Parent-Id:-},name=%X{X-Span-Name:-},app=%X{appname:-},begintime=%X{begintime:-},endtime=%X{fin-X1-time:-}]
				- %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="errorAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/grassroot/logs/${projectname}_error.log
		</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/grassroot/logs/${projectname}_error_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d [%thread] %-5p [%c] [%F:%L]
				[trace=%X{X-Trace-Id:-},span=%X{X-Span-Id:-},parent=%X{X-Parent-Id:-},name=%X{X-Span-Name:-},app=%X{appname:-},begintime=%X{begintime:-},endtime=%X{fin-X1-time:-}]
				- %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 业务监控日志 <appender name="BizFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<file>${log.dir}/grassroot/logs/monitor-ss_micro_app_${projectname}_lt_biz.log</file> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
		<fileNamePattern>${log.dir}/grassroot/logs/monitor-ss_micro_app_${projectname}_lt_biz-%d{yyyy-MM-dd}.log</fileNamePattern> 
		<maxHistory>30</maxHistory> </rollingPolicy> <filter class="com.alibaba.citrus.logconfig.logback.LevelRangeFilter"> 
		<levelMax>INFO</levelMax> </filter> <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
		<pattern>%msg%n</pattern> <charset>UTF-8</charset> </encoder> </appender> 
		<logger name="com.grassroot.themis.fin.function.log.ServerCostTimeAOP" additivity="false"> 
		<level value="INFO"/> <appender-ref ref="BizFileAppender" /> </logger> -->

	<logger name="org.apache">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>

	<logger name="org.springframework">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>
	<logger name="com.grassroot">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>

	<logger name="com.netflix">
		<level value="INFO" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="infoAppender" />
	</logger>

	<logger name="com.ibatis.common.jdbc.SimpleDataSource">
		<level value="DEBUG" />
	</logger>
	<logger name="com.ibatis.common.jdbc.ScriptRunner">
		<level value="DEBUG" />
	</logger>
	<logger name="com.ibatis.sqlmap.client.SqlMapClient">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="errorAppender" />
	</root>
</configuration>